@font-face {
  font-family: 'AntiqueOliveBold';
  src:
    url('./fonts/antique_olive_bold-webfont.woff2') format('woff2'),
    url('./fonts/antique_olive_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src:
    url('./fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('./fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src:
    url('./fonts/notosans-bold-webfont.woff2') format('woff2'),
    url('./fonts/notosans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
