@font-face {
  font-family: 'AntiqueOliveBold';
  src:
    url('./fonts/antique_olive_bold-webfont.woff2') format('woff2'),
    url('./fonts/antique_olive_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Questrial';
  src:
    url('./fonts/questrial-regular-webfont.woff2') format('woff2'),
    url('./fonts/questrial-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
